@charset "UTF-8";

/**
* Colors
*/

.badge {
  font-size: 14px;
  font-weight: 600;
  min-width: 120px;
  display: inline-block;
  padding: 7.5px 12px;
  text-align: center;
  border-radius: 20px;
}

.badge-success {
  color: #1eb48e;
  background: #edf9f6;
}

.badge-danger {
  color: #e23e1d;
  background: #fdf0ed;
}

.badge-info {
  color: #247cc6;
  background: #eef5fb;
}

.badge-warning {
  color: #ffb136;
  background: #fff9ef;
}

.badge-primary {
  color: #a21d23;
  background: #f9dee0;
}

table.table.border {
  border: 1px solid #e1e1e1;
}

.text-danger {
  color: #e23e1d;
}

.text-success {
  color: #1eb48e;
}

.btn {
  border: none;
  outline: none;
  background: none;
  padding: 8px 16px;
  border-radius: 5px;
}

.btn.btn-default {
  background-color: #f9f9f9;
  color: #444;
}

.btn.btn-default:hover {
  background-color: #f2f4f5;
}

.btn.btn-danger {
  background-color: #e55538;
  color: #fff;
}

.btn.btn-danger:hover {
  background-color: #e23e1d;
}

.btn:active,
.btn:focus,
.btn:visited {
  outline: none;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 100%;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #2b542c;
}

.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #245269;
}

.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.alert-warning hr {
  border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
  color: #66512c;
}

.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

.alert-danger hr {
  border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
  color: #843534;
}

.box_account .form_container {
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 25px;
  position: relative;
}

[disabled] {
  opacity: 0.5;
  background-color: #444 !important;
  color: #fff !important;
}

[disabled]:hover {
  color: #fff !important;
}

.is-invalid .form-control {
  border-color: red;
}

.is-invalid .has-error {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

header ul.top_tools > li .dropdown-access.authenticated .dropdown-menu {
  padding-top: 0;
}

header ul.top_tools > li .dropdown-access.authenticated .dropdown-menu ul {
  margin-top: 0;
}

header ul.top_tools > li .dropdown-access.authenticated::after {
  content: "";
  width: 15px;
  height: 15px;
  background: green;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  border-radius: 50%;
}

/*============================================================================================*/

/* CART PAGE */

/*============================================================================================*/

/* 
Reset number arrows
Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

.table.cart-list {
  margin: 0;
}

.table.cart-list th,
.table.options_cart th {
  background-color: transparent;
  text-transform: uppercase;
  font-weight: normal;
  color: #111;
  border: 0;
  padding-top: 0;
}

.table.cart-list th:nth-child(1) {
  width: 70%;
}

.table.cart-list th:nth-child(2) {
  width: 15%;
}

.table.cart-list th:nth-child(3) {
  width: 20%;
}

.table.cart-list th:nth-child(4) {
  width: 5%;
}

.table.cart-list td {
  vertical-align: middle;
  border: 0;
}

.table.cart-list td strong {
  font-weight: 500;
}

.table.cart-list td.options a {
  display: inline-block;
  margin-right: 10px;
}

.table.cart-list td.options a i {
  font-size: 18px;
  font-size: 1.125rem;
}

.table.cart-list td .numbers-row {
  background-color: #fff;
}

.table.cart-list.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.045);
}

@media (max-width: 767px) {
  .table.cart-list,
  .table.cart-list thead,
  .table.cart-list tbody,
  .table.cart-list th,
  .table.cart-list td,
  .table.cart-list tr {
    display: block;
    border: 0;
  }

  .table.cart-list thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table.cart-list tr {
    border: 1px solid #ddd;
  }
}

@media (max-width: 767px) and (max-width: 991px) {
  .table.cart-list tr {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .table.cart-list td {
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 35%;
  }

  .table.cart-list td:before {
    position: absolute;
    top: 12px;
    left: 12px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .table.cart-list td:nth-of-type(1):before,
  .table.cart-list td:nth-of-type(2):before,
  .table.cart-list td:nth-of-type(3):before,
  .table.cart-list td:nth-of-type(4):before,
  .table.cart-list td:nth-of-type(5):before {
    font-weight: 700;
    color: #111;
  }

  .table.cart-list td:nth-of-type(1):before {
    content: "Product";
  }

  .table.cart-list td:nth-of-type(2):before {
    content: "Price";
  }

  .table.cart-list td:nth-of-type(3):before {
    content: "Quantity";
  }

  .table.cart-list td:nth-of-type(4):before {
    content: "Subtotal";
  }

  .table.cart-list td:nth-of-type(5):before {
    content: "Edit";
  }
}

.thumb_cart {
  width: 60px;
  height: 60px;
  overflow: hidden;
  margin-right: 10px;
  float: left;
  position: relative;
  background-color: #fff;
  padding: 5px;
  box-sizing: content-box;
}

.thumb_cart img {
  width: 60px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 991px) {
  .thumb_cart {
    display: none;
  }
}

.item_cart {
  float: left;
  width: 65%;
  margin: 25px 0 0 10px;
  line-height: 1.3;
  font-weight: 500;
}

@media (max-width: 991px) {
  .item_cart {
    margin: 5px 0 0 0;
    width: 100%;
    float: none;
  }
}

.cart_actions .apply-coupon .form-control {
  margin-right: 10px;
  height: 40px;
}

@media (max-width: 575px) {
  .cart_actions .apply-coupon .form-control {
    margin: 0 0 5px 0;
  }
}

@media (max-width: 575px) {
  .cart_actions .btn_1 {
    width: 100%;
    margin-bottom: 15px;
  }
}

.box_cart {
  background-color: #fff;
  padding: 30px 0;
  text-align: right;
}

@media (max-width: 767px) {
  .box_cart {
    padding: 30px 0;
  }
}

.box_cart h5 {
  margin-top: 0;
  padding: 0;
  text-transform: uppercase;
}

.box_cart small {
  text-align: center;
  line-height: 1.1;
  display: block;
  margin-top: 10px;
}

.box_cart ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  font-size: 1rem;
}

.box_cart ul li span {
  float: left;
}

.box_cart ul li:last-child {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ff5353;
  font-size: 21px;
  font-size: 1.3125rem;
}

.quantity {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #e1e1e1;
  padding: 5px;
  border-radius: 5px;
}

.quantity button {
  border: 0;
  outline: 0;
  background: transparent;
  color: #999;
  display: block;
  font-size: 20px;
}

.quantity button:hover {
  color: #444;
}

.quantity input {
  text-align: center;
  border: 0;
  width: 50px;
  overflow: hidden;
  outline: none;
}

/*============================================================================================*/

/* CHECKOUT PAGE */

/*============================================================================================*/

/*-------- 2.6 Checkout --------*/

.nav-link {
  display: block;
  padding: 0 15px;
  height: 30px;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #444;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}

.nav-tabs {
  border: none;
  border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-bottom: 2px solid #004dda;
  color: #004dda;
  background-color: transparent;
}

.tab-content.checkout {
  padding: 15px 0 0 0;
}

.tab-content.checkout hr {
  margin: 10px 0;
}

.tab-content.checkout .form-group {
  margin-bottom: 10px;
}

.tab-content.checkout .nice-select {
  margin-bottom: 0;
}

.tab-content.checkout .social_bt {
  margin-bottom: 10px;
}

#other_addr_c {
  display: none;
}

.step {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .step {
    margin-bottom: 35px;
  }
}

.step h3:before {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 10px solid #f8f8f8;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .step h3:before {
    border: none;
  }
}

.step h3:after {
  width: 0;
  height: 0;
  border-top: 20px inset transparent;
  border-bottom: 20px inset transparent;
  border-left: 10px solid #333;
  position: absolute;
  content: "";
  top: 0;
  right: -10px;
  z-index: 2;
}

@media (max-width: 767px) {
  .step h3:after {
    border: none;
  }
}

.step.first h3:before,
.step.last h3:after {
  border: none;
}

.step h3 {
  padding: 10px 12px 10px 20px;
  background: #333;
  position: relative;
  margin-bottom: 15px;
  color: #fff;
  font-size: 16px;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .step h3 {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
  }
}

.step #forgot_pw {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.payments ul,
.shipping ul {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.payments ul li,
.shipping ul li {
  border-bottom: 1px solid #ededed;
  margin-bottom: 8px;
}

.payments ul li a.info,
.shipping ul li a.info {
  display: inline-block;
  float: right;
  color: #444;
}

.payments ul li a.info:hover,
.shipping ul li a.info:hover {
  color: #004dda;
}

.payments ul li a.info:after,
.shipping ul li a.info:after {
  font-family: "themify";
  content: "";
  position: relative;
  right: 0;
  top: 0;
  font-size: 15px;
  font-size: 0.9375rem;
}

.payment_info figure img {
  height: 20px;
  width: auto;
}

.payment_info p {
  font-size: 13px;
  font-size: 0.8125rem;
}

.box_general.summary {
  box-shadow: none;
  background-color: #fff;
  padding-bottom: 20px;
  padding: 25px 25px 20px 25px;
  border: 1px solid #ededed;
}

.box_general.summary ul {
  list-style: none;
  margin: 0 0 15px 0;
  padding: 0;
  border-bottom: 1px solid #ededed;
}

.box_general.summary ul li {
  padding: 0;
  margin: 0 0 15px 0;
  font-weight: 500;
  display: block;
  line-height: 1.3;
}

.box_general.summary ul li em {
  font-style: normal;
  float: left;
  width: 70%;
  font-weight: 400;
}

.box_general.summary ul li span {
  float: right;
  text-align: right;
  width: 30%;
  font-weight: 700;
}

.box_general.summary label.container_check {
  font-size: 12px;
  font-size: 0.75rem;
}

.box_general.summary .total {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  border-bottom: none;
  color: red;
}

.box_general.summary .total span {
  float: right;
  margin-bottom: 15px;
}

#confirm {
  text-align: center;
  background-color: #f8f8f8;
  padding: 150px 15px;
}

@media (max-width: 767px) {
  #confirm {
    padding: 60px 15px;
  }
}

@-webkit-keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }

  100% {
    stroke-dashoffset: 480px;
  }
}

@keyframes checkmark-circle {
  0% {
    stroke-dashoffset: 240px;
  }

  100% {
    stroke-dashoffset: 480px;
  }
}

.inlinesvg .svg svg {
  display: inline;
}

.icon--order-success svg path {
  -webkit-animation: checkmark 0.25s ease-in-out 0.7s backwards;
  animation: checkmark 0.25s ease-in-out 0.7s backwards;
}

.icon--order-success svg circle {
  -webkit-animation: checkmark-circle 0.6s ease-in-out backwards;
  animation: checkmark-circle 0.6s ease-in-out backwards;
}

ul.cart-items-list {
  padding: 0;
  list-style-type: none;
}

ul.cart-items-list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

ul.cart-items-list li .new_price,
ul.cart-items-list li .old_price {
  font-size: 14px;
}

ul.cart-items-list li .new_price {
  color: #222;
  font-weight: bold;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: bold;
  color: #a21d23;
}

/*============================================================================================*/

/* PRODUCT PAGE */

/*============================================================================================*/

.countdown_inner {
  background: #F33;
  color: #fff;
  margin-bottom: 30px;
  padding: 5px;
  text-align: center;
  font-weight: 500;
}

@media (max-width: 767px) {
  .countdown_inner {
    margin-bottom: 15px;
  }
}

.countdown_inner.version_2 {
  padding: 10px 5px;
  position: relative;
}

.countdown_inner.version_2:before {
  border-style: solid solid solid none;
  border-width: 15px 15px 15px 0;
  bottom: -26px;
  content: "";
  left: 0;
  position: absolute;
  width: 15px;
  border-color: #F33 transparent transparent;
}

@media (max-width: 991px) {
  .countdown_inner.version_2:before {
    display: none;
  }
}

.countdown_inner.version_2 strong {
  display: block;
  font-size: 28px;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 1.2;
}

.countdown_inner .countdown {
  position: static;
  font-size: 16px;
  font-size: 1rem;
  width: auto;
  margin: 0;
  display: inline-block;
}

.countdown_inner .countdown:before {
  display: none;
}

/*-------- Carousel with thumbs --------*/

.all {
  width: 100%;
  height: auto;
}

.all .slider,
.all .slider-two {
  width: auto;
  height: auto;
  overflow: hidden;
  position: relative;
}

.all .slider .owl-nav,
.all .slider .owl-dots,
.all .slider-two .owl-nav,
.all .slider-two .owl-dots {
  display: none;
}

.all .slider:hover .left,
.all .slider:hover .right,
.all .slider-two:hover .left,
.all .slider-two:hover .right {
  visibility: visible;
  opacity: 1;
}

.all .slider:hover .left,
.all .slider-two:hover .left {
  left: 20px;
}

.all .slider:hover .right,
.all .slider-two:hover .right {
  right: 20px;
}

.all .slider .item-box,
.all .slider-two .item-box {
  overflow: hidden;
  width: 100%;
  height: 450px;
  position: relative;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 767px) {
  .all .slider .item-box,
  .all .slider-two .item-box {
    height: 350px;
  }
}

.all .slider .left,
.all .slider .right,
.all .slider-two .left,
.all .slider-two .right {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  font-size: 18px;
  font-size: 1.125rem;
  color: #fff;
}

.all .slider .left:hover,
.all .slider .right:hover,
.all .slider-two .left:hover,
.all .slider-two .right:hover {
  visibility: visible;
  opacity: 1;
}

.all .slider .left,
.all .slider-two .left {
  left: -20px;
  transition: left ease 0.25s;
}

.all .slider .left:hover,
.all .slider-two .left:hover {
  left: 20px;
}

.all .slider .left.nonl,
.all .slider .right.nonr,
.all .slider-two .left.nonl,
.all .slider-two .right.nonr {
  opacity: 0;
  visibility: hidden;
}

.all .slider .left.nonl,
.all .slider-two .left.nonl {
  left: -20px;
}

.all .slider .right,
.all .slider-two .right {
  right: -20px;
  transition: right ease 0.25s;
}

.all .slider .right:hover,
.all .slider-two .right:hover {
  right: 20px;
}

.all .slider .right.nonr,
.all .slider-two .right.nonr {
  right: -20px;
}

.all .slider-two:hover .left-t {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.all .slider-two:hover .right-t {
  visibility: visible;
  opacity: 1;
  right: 0;
}

.all .slider-two .item {
  transition: all ease 0.25s;
  height: 100px;
  border: solid 2px #e6ecf2;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
}

.all .slider-two .item.active {
  border: solid 2px #ccc;
}

.all .slider-two .owl-stage {
  padding: 20px 0;
}

.all .slider-two .left-t,
.all .slider-two .right-t {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 20px;
  visibility: hidden;
  opacity: 0;
  transition: all ease 0.25s;
  width: 40px;
  height: 99px;
  background: no-repeat rgba(128, 15, 0, 0.89) url(/images/arrow_right.svg?d7dc624f71f3a7b5f3a8d788f57adffa) center center;
}

.all .slider-two .left-t:hover,
.all .slider-two .right-t:hover {
  visibility: visible;
  opacity: 1;
}

.all .slider-two .left-t {
  transform: rotate(180deg);
  left: -40px;
}

.all .slider-two .left-t:hover {
  left: 0;
}

.all .slider-two .left-t.nonl-t,
.all .slider-two .right-t.nonr-t {
  opacity: 0;
  visibility: hidden;
}

.all .slider-two .left-t.nonl-t {
  left: -40px;
}

.all .slider-two .right-t:hover {
  right: 0;
}

.all .slider-two .right-t.nonr-t {
  right: -40px;
}

.prod_info {
  border-bottom: 1px solid #ededed;
  padding-bottom: 25px;
}

@media (max-width: 767px) {
  .prod_info {
    border-bottom: none;
    padding-bottom: 15px;
  }
}

.prod_info h1 {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 10px 0 2px 0;
}

.prod_info .rating {
  margin-bottom: 10px;
}

.prod_info p {
  margin-bottom: 20px;
}

.prod_info small {
  font-weight: 600;
}

.prod_info.version_2 {
  border-bottom: none;
}

.prod_options {
  padding: 15px;
}

@media (max-width: 991px) {
  .prod_options {
    padding: 0 0 20px 0;
  }
}

.prod_options label:not(.container_radio) {
  padding-top: 5px;
}

.prod_options .nice-select {
  border: 1px solid #dddddd;
  height: 40px;
  line-height: 34px;
  padding-left: 10px;
}

.prod_options .nice-select:after {
  right: 15px;
}

.prod_options strong {
  text-transform: uppercase;
  font-weight: 500;
  line-height: 36px;
}

.prod_options .colors ul {
  margin: 0;
  padding: 0;
}

.prod_options .colors ul li {
  display: inline-block;
  margin-right: 5px;
}

.prod_options .colors ul li a.color {
  border-radius: 50%;
  display: block;
  width: 28px;
  height: 28px;
  position: relative;
}

.prod_options .colors ul li a.color:hover {
  transform: scale(1.1);
}

.prod_options .colors ul li a.color.active:hover {
  transform: scale(1);
}

.prod_options .colors ul li a.color.active:before {
  font-family: "themify";
  content: "";
  color: #fff;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1;
  position: absolute;
  font-weight: bold;
  top: 8px;
  left: 8px;
}

.prod_options .colors ul li a.color.color_1 {
  background-color: #ffcc00;
}

.prod_options .colors ul li a.color.color_2 {
  background-color: #ff9933;
}

.prod_options .colors ul li a.color.color_3 {
  background-color: #ff9966;
}

.prod_options .colors ul li a.color.color_4 {
  background-color: #ff9999;
}

.prod_options .colors ul li a.color.color_5 {
  background-color: #ffcc00;
}

.prod_options.version_2 {
  border: 1px solid #e1e1e1;
}

.price_main {
  line-height: 1;
  padding-top: 10px;
}

@media (max-width: 767px) {
  .price_main {
    text-align: right;
  }
}

@media (max-width: 991px) {
  .price_main {
    margin-bottom: 10px;
    padding-top: 0;
  }
}

@media (max-width: 575px) {
  .price_main {
    margin-bottom: 0;
  }
}

.price_main .old_price {
  font-size: 18px !important;
  font-size: 18px !important;
}

.price_main .new_price {
  font-size: 24px;
  font-size: 1.5rem;
}

.price_main .percentage {
  top: -2px;
}

@media (max-width: 767px) {
  .btn_add_to_cart {
    text-align: right;
  }
}

.btn_add_to_cart a.btn_1 {
  text-transform: uppercase;
  width: 100%;
}

@media (max-width: 767px) {
  .btn_add_to_cart a.btn_1 {
    display: inline-block;
    width: auto;
    margin-top: 30px;
  }
}

.nav-link {
  display: block;
  padding: 0 15px;
  height: 30px;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #444;
}

.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}

.nav-link.disabled {
  color: #6c757d;
}

.nav-tabs {
  border: none;
  border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-item {
  margin-bottom: -2px;
}

.nav-tabs .nav-link {
  border: none;
}

.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  border-bottom: 2px solid #a21d23;
  color: #a21d23;
  background-color: transparent;
}

.tabs_product {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .tabs_product {
    margin-top: -30px;
    padding-top: 0;
  }
}

.tabs_product .nav-tabs {
  border: none;
  border-bottom: 1px solid transparent;
  display: flex;
}

@media (max-width: 767px) {
  .tabs_product .nav-tabs {
    display: none;
  }
}

.tabs_product .nav-tabs .nav-item {
  text-transform: uppercase;
  font-weight: 500;
}

.tabs_product.version_2 {
  margin-top: 0;
}

.tabs_product.version_2 .nav-tabs {
  justify-content: center;
  flex-direction: row;
}

.tabs_product.version_3 {
  margin-top: 0;
  position: relative;
}

@media (max-width: 767px) {
  .tabs_product.version_3 .nav-tabs {
    display: flex;
  }
}

.product_actions ul {
  margin: 15px 0 0 2px;
  padding: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .product_actions ul {
    display: none;
  }
}

.product_actions ul li {
  float: left;
  margin-right: 25px;
}

@media (max-width: 767px) {
  .product_actions ul li {
    margin: -5px 10px 0 0;
  }
}

@media (max-width: 767px) and (max-width: 767px) {
  .product_actions ul li:first-child i,
  .product_actions ul li:nth-child(2) i {
    font-size: 21px;
    font-size: 1.3125rem;
  }
}

.product_actions ul li a {
  color: #444;
}

.product_actions ul li a:hover {
  color: #a21d23;
}

.product_actions ul li a i {
  margin-right: 5px;
}

@media (max-width: 767px) {
  .product_actions ul li a span {
    display: none;
  }
}

.tab_content_wrapper {
  background-color: #fff;
  padding: 60px 0 35px 0;
}

@media (max-width: 991px) {
  .tab_content_wrapper {
    padding: 30px 0 10px 0;
  }
}

@media (max-width: 767px) {
  .tab_content_wrapper {
    background-color: #fff;
    border-bottom: 1px solid #dddddd;
    padding: 15px 0;
  }
}

.tab_content_wrapper .card {
  border: none;
  background-color: transparent;
}

.tab_content_wrapper .card .card-header {
  margin: 0 -15px;
  padding: 0;
  background-color: transparent;
  border: 0;
  border-top: 1px solid #dddddd;
  background-color: #f8f8f8;
}

.tab_content_wrapper .card .card-header a {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  padding: 15px;
  color: #111;
}

.tab_content_wrapper .card .card-body {
  padding: 0;
}

.tab_content_wrapper .card .card-body h3 {
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 20px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .tabs_product .nav-tabs {
    display: flex;
  }

  .tab_content_wrapper .card {
    border: none;
  }

  .tab_content_wrapper .card .card-header {
    display: none;
  }

  .tab_content_wrapper .card .collapse {
    display: block;
  }
}

@media (max-width: 767px) {
  .tab_content_wrapper .fade:not(.show) {
    opacity: 1;
  }

  .tab_content_wrapper .tab-pane {
    display: block !important;
    opacity: 1;
  }

  .tab_content_wrapper .card .card-header {
    margin-bottom: 15px;
    border: 0;
  }

  .tab_content_wrapper .card .card-header a:after {
    font-family: themify;
    width: 20px;
    display: block;
    float: right;
  }

  .tab_content_wrapper .card .card-header a.collapsed:after {
    content: "";
  }

  .tab_content_wrapper .card .card-header a:after {
    content: "";
  }
}

.review_content {
  margin-bottom: 30px;
}

.review_content h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

.review_content .rating {
  color: #999;
  font-size: 12px;
  font-size: 0.75rem;
  margin-bottom: 0;
  float: left;
}

.review_content .rating i {
  width: 20px;
  border-radius: 3px;
  height: 20px;
  font-size: 12px;
  font-size: 0.75rem;
  display: inline-block;
  background-color: #fec348;
  color: #fff;
  line-height: 20px;
  text-align: center;
  margin-right: 2px;
}

.review_content .rating i.empty {
  background-color: #ccc;
}

@media (max-width: 575px) {
  .review_content .rating {
    float: none;
    display: block;
  }
}

@media (max-width: 575px) {
  .review_content .rating em {
    float: none;
    display: inline-block;
    margin-left: 10px;
  }
}

.review_content em {
  font-weight: 500;
  color: #999;
  line-height: 22px;
  margin-left: 5px;
  float: right;
}

@media (max-width: 575px) {
  .review_content em {
    float: none;
    display: block;
    margin-top: 10px;
    margin-left: 0;
  }
}

.table.sizes td,
.table.sizes tr th {
  white-space: nowrap;
}

.options_modal {
  padding: 25px;
}

.top_banner.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/img/banner.jpg");
}

/*============================================================================================*/

/* LISTING */

/*============================================================================================*/

.toolbox {
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
  padding: 15px 0 12px 0;
  background-color: #fff;
}

.toolbox.version_2 {
  background-color: transparent;
  margin-bottom: 30px;
}

.toolbox.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  background-color: #a21d23;
  animation: smoothScroll 0.5s forwards;
  -webkit-animation: smoothScroll 0.5s forwards;
  border-bottom: none;
}

.toolbox.sticky .container > ul li a {
  color: #fff;
}

.toolbox.sticky .container > ul li a:hover {
  color: #fff;
}

.toolbox.sticky .sort_select:after {
  color: #fff;
}

.toolbox.sticky .sort_select select {
  color: #fff;
}

.toolbox.sticky .sort_select select:focus {
  color: #fff;
}

.toolbox .container > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbox .container > ul li {
  height: 25px;
  line-height: 25px;
  display: inline-block;
  float: right;
  margin-left: 30px;
}

@media (max-width: 767px) {
  .toolbox .container > ul li {
    margin-left: 15px;
  }
}

.toolbox .container > ul li:first-child {
  float: left;
  margin-left: 0;
}

.toolbox .container > ul li i {
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  top: 3px;
}

.toolbox .container > ul li a {
  color: #444;
  margin-left: 5px;
}

.toolbox .container > ul li a span {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 767px) {
  .toolbox .container > ul li a span {
    display: none;
  }
}

.toolbox .container > ul li a.open_filters {
  display: none;
}

@media (max-width: 991px) {
  .toolbox .container > ul li a.open_filters {
    display: inline-block;
  }
}

.toolbox .container > ul li a:hover {
  color: #a21d23;
}

.sort_select {
  width: auto;
  overflow: hidden;
  height: 25px;
  line-height: 25px;
  border: none;
  position: relative;
  padding-left: 27px;
}

.sort_select:after {
  font-family: "themify";
  position: absolute;
  color: #444;
  left: 0;
  top: 0;
  content: "";
  font-size: 16px;
  font-size: 1rem;
}

.sort_select select {
  background: transparent;
  width: 110%;
  border: 0;
  box-shadow: none;
  height: 25px;
  margin: 0;
  -moz-appearance: window;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}

.sort_select select:focus {
  color: #444;
  outline: none;
  box-shadow: none;
}

.sort_select select::-ms-expand {
  display: none;
}

.sort_select select[disabled] {
  color: #444 !important;
  background-color: transparent !important;
}

.filters_listing_1 {
  padding: 15px 0 10px 0;
}

.filters_listing_1 .dropdown {
  position: relative;
  text-align: left;
}

.filters_listing_1 .dropdown a.drop {
  color: #444;
  font-weight: 500;
  transition: all 0.3s;
  display: block;
  position: relative;
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 10px;
  line-height: 1;
}

@media (max-width: 991px) {
  .filters_listing_1 .dropdown a.drop {
    margin-bottom: 5px;
  }
}

.filters_listing_1 .dropdown a.drop:after {
  font-family: "themify";
  content: "";
  font-size: 14px;
  font-size: 0.875rem;
  color: #999;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 10px;
  top: 10px;
}

.filters_listing_1 .dropdown.show a:after {
  transform: rotate(180deg);
}

.filters_listing_1 .dropdown .dropdown-menu {
  background: #fff;
  border: none;
  border-radius: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.175);
  padding: 15px;
  white-space: normal;
  width: 100%;
  color: #444;
}

.filters_listing_1 .dropdown a.apply_filter {
  text-align: center;
  background-color: #a21d23;
  color: #fff;
  display: block;
  padding: 10px 0;
  line-height: 1;
  font-weight: 500;
  border-radius: 3px;
}

.filters_listing_1 .dropdown a.apply_filter:hover {
  background-color: #FFC107;
  color: #111;
}

.row_item {
  margin-bottom: 30px;
}

.row_item figure {
  position: relative;
  margin-bottom: 0;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  .row_item figure {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .row_item figure img {
    width: 100%;
    height: auto;
  }
}

.row_item .rating {
  margin-bottom: 5px;
}

.row_item a h3 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #444;
}

@media (max-width: 575px) {
  .row_item a h3 {
    font-size: 16px;
    font-size: 1rem;
  }
}

.row_item a h3:hover {
  color: #a21d23;
}

.row_item p {
  margin-bottom: 20px;
}

.row_item .price_box {
  margin-bottom: 20px;
}

.row_item .new_price {
  font-size: 21px;
  font-size: 1.3125rem;
}

.row_item .old_price {
  font-size: 16px;
  font-size: 1rem;
}

.row_item ul {
  margin: 15px 0 0 0;
  padding: 0;
  list-style: none;
}

.row_item ul li {
  display: inline-block;
}

.row_item ul li a span {
  display: none;
}

.filter_type {
  font-size: 14px;
  font-size: 0.875rem;
}

.filter_type h6 {
  border-top: 1px solid #dddddd;
  margin: 15px 0;
  padding: 15px 0 0 0;
}

.filter_type label {
  font-weight: 400;
}

.filter_type label small {
  float: right;
  color: #777;
  padding-top: 3px;
}

.filter_type ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0 0 15px 0;
}

.filter_type ul li {
  margin-bottom: 5px;
}

.filter_type ul li:last-child {
  margin-bottom: 0;
}

.filter_type.version_2 {
  border-bottom: 1px solid #ededed;
  margin: 0 -15px 15px -15px;
  padding: 0 15px;
}

.filter_type.version_2 ul {
  list-style: none;
  padding: 5px 5px 0 5px;
}

.filter_type.version_2 h4 a {
  display: block;
  font-size: 15px;
  font-size: 0.9375rem;
  color: #444;
  padding: 8px 10px;
  margin: -5px -5px 0 -5px;
  line-height: 1;
  position: relative;
}

.filter_type.version_2 h4 a:after {
  transition: all 0.3s ease-in-out;
  font-family: "themify";
  font-size: 14px;
  font-size: 0.875rem;
  position: absolute;
  right: 10px;
  top: 8px;
}

.filter_type.version_2 h4 a.opened {
  background-color: #f8f8f8;
}

.filter_type.version_2 h4 a.opened:after {
  content: "";
  transform: rotate(180deg);
}

.filter_type.version_2 h4 a.closed:after {
  content: "";
  transform: rotate(0);
}

.filter_col {
  border: 1px solid #ededed;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .filter_col {
    overflow: auto;
    transform: translateX(-200%);
    top: 0;
    left: -100%;
    bottom: 0;
    width: 45%;
    height: 100%;
    position: fixed !important;
    background-color: #fff;
    z-index: 99999999 !important;
    margin: 0;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .filter_col.show {
    transform: translateX(0);
    left: 0;
    border: 0;
  }
}

@media (max-width: 767px) {
  .filter_col {
    width: 100%;
  }
}

.filter_col .inner_bt {
  text-align: right;
  margin: -10px -15px 15px -15px;
  padding: 5px 15px 0 0;
  display: none;
}

@media (max-width: 991px) {
  .filter_col .inner_bt {
    display: block;
  }
}

.filter_col .inner_bt i {
  font-size: 18px;
  font-size: 1.125rem;
  color: #999;
}

.filter_col .inner_bt i:hover {
  color: #111;
}

a.box_topic {
  text-align: center;
  background: #fff;
  padding: 40px 30px 15px 30px;
  display: block;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.05);
  color: #444;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 3px;
}

@media (max-width: 767px) {
  a.box_topic {
    padding: 20px 20px 0 20px;
  }
}

a.box_topic:hover {
  transform: translateY(-10px);
}

a.box_topic i {
  display: inline-block;
  font-size: 51px;
  font-size: 3.1875rem;
  color: #a21d23;
  border-radius: 50%;
  background-color: #a21d23;
  background-color: rgba(0, 77, 218, 0.05);
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin-bottom: 15px;
}

a.box_topic h3 {
  font-size: 18px;
  font-size: 1.125rem;
}

a.box_topic.version_2 {
  background: none;
  padding: 0;
  box-shadow: none;
  text-align: left;
}

a.box_topic_2 {
  padding: 30px 30px 5px 110px;
  position: relative;
  display: block;
  transition: all 0.3s ease-in-out;
  color: #444;
  margin-bottom: 30px;
  border-radius: 3px;
  min-height: 165px;
  border: 1px solid #ededed;
}

@media (max-width: 991px) {
  a.box_topic_2 {
    min-height: inherit;
  }
}

a.box_topic_2:hover {
  border: 1px solid transparent;
  box-shadow: 0px 0px 25px 0px rgba(0, 77, 218, 0.1);
  transform: translateY(-10px);
}

a.box_topic_2 i {
  position: absolute;
  left: 30px;
  top: 30px;
  font-size: 52px;
  font-size: 3.25rem;
  color: #a21d23;
  margin-bottom: 10px;
}

a.box_topic_2 h3 {
  font-size: 18px;
  font-size: 1.125rem;
  color: #a21d23;
}

a.box_topic_2 p {
  font-size: 16px;
  font-size: 1rem;
}

.list_articles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list_articles ul li {
  float: left;
  width: 45%;
  margin-right: 45px;
  padding: 15px 0;
  border-bottom: 1px solid #ededed;
}

.list_articles ul li a {
  color: #444;
  display: block;
}

.list_articles ul li a:hover {
  color: #a21d23;
  transform: translateX(5px);
}

.list_articles ul li i {
  margin-right: 10px;
  font-size: 16px;
  font-size: 1rem;
  position: relative;
  top: 2px;
}

@media (max-width: 991px) {
  .list_articles ul li {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

.single-address {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #fff;
}

.single-address:hover {
  cursor: pointer;
  box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
}

.single-address .head,
.single-address .body,
.single-address .footer {
  padding: 12px;
}

.single-address .head {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.single-address .body {
  padding-top: 0;
}

.single-address .body p {
  margin-bottom: 8px;
}

.single-address .footer {
  border-top: 1px solid #e1e1e1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single-address .footer .default .label {
  padding: 5px;
  border-radius: 8px;
  color: #fff;
}

.single-address .footer .default .label.label-success {
  background-color: #28a745;
}

.single-address .footer .default .label.label-info {
  background-color: #17a2b8;
}

.button-text {
  border: 1px solid #e25d63;
  outline: none;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #444;
  letter-spacing: 2px;
  transition: all 0.3s;
  padding: 8px;
  border-radius: 12px;
}

.button-text:hover {
  background-color: #f9dee0;
}

.button-text-1 {
  background: transparent;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  transition: all 0.3s;
}

.button-text-1:hover {
  background-color: #f9dee0;
}

.button-text-1.delete {
  border-color: #dc3545;
}

/**
* Sweet alert custom
*/

.swal2-popup {
  flex-direction: column;
}

ul.customer-account-navigation {
  padding: 10px;
  list-style: none;
  border: 2px solid #e1e1e1;
}

ul.customer-account-navigation li a {
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #444;
  height: 54px;
}

ul.customer-account-navigation li a:hover,
ul.customer-account-navigation li a.active {
  color: #a21d23;
}

ul.customer-account-navigation li a.active {
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

ul.customer-account-navigation li a span {
  margin-right: 15px;
  font-size: 22px;
  display: block;
  width: 20px;
}

h4.heading {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

#show-order .single-address {
  border-radius: 0;
}

#show-order .order-summary-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

#show-order .order-summary-wrapper .order-summary {
  width: 300px;
}

#show-order .order-summary-wrapper .order-summary ul {
  list-style: none;
  padding: 0;
}

#show-order .order-summary-wrapper .order-summary ul li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 16px;
}

#show-order .order-summary-wrapper .order-summary .total {
  padding-top: 1rem;
  border-top: 1px solid #e1e1e1;
  font-size: 20px;
}

h4.title {
  margin-bottom: 13.5px;
  text-transform: uppercase;
  font-size: 20px;
  padding-bottom: 11.5px;
  border-bottom: 2px solid brown;
}

ul.list-group {
  padding: 8px;
  list-style: none;
  border: 1px solid #e1e1e1;
}

ul.list-group li.list-group-item {
  padding: 8px 5px;
  border-bottom: 1px solid #efefef;
}

ul.list-group li.list-group-item.heading {
  text-align: center;
  font-weight: bold;
}

ul.list-group li.list-group-item .show-features-trigger {
  margin-bottom: 0;
}

ul.list-group li.list-group-item:last-child {
  border: none;
}

.package {
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  color: #84697c;
}

.package .package-header {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: #2c3e50;
  text-align: center;
  padding: 2.5em;
}

.package .package-header .package-title {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.package .package-header .package-title .new-price,
.package .package-header .package-title .old-price {
  display: block;
}

.package .package-header .package-title .old-price {
  font-size: 16px;
  text-decoration: line-through;
  color: #ddd;
}

.package .package-header .package-subtitle {
  font-size: 18px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.package .package-header .package-title,
.package .package-header .package-subtitle {
  display: block;
  color: #fff;
}

.package .package-body {
  padding: 15px;
}

.package .package-body .features {
  list-style: none;
  padding: 0;
}

.package .package-body .features li {
  padding: 12px;
  text-align: center;
  color: #666;
  font-size: 16px;
  border-bottom: 1px solid #e1e1e1;
}

.package .package-body .features li:last-child {
  border-bottom: none;
}

.package .package-footer {
  padding: 0 12px 12px 12px;
  text-align: center;
}

span.brand {
  color: #a21d23;
  font-size: 12px;
  border-radius: 5px;
  font-style: italic;
  display: block;
}

span.brand.inline {
  display: inline-block;
  background: #444;
  padding: 5px 10px;
  margin-left: 10px;
}

.brands-inline {
  overflow-x: scroll;
}

.brands-inline span.brand {
  display: inline-block;
  margin-right: 5px;
  font-style: normal;
}

.brands-inline span.brand::after {
  content: "|";
  margin-left: 5px;
}

.brands-inline span.brand:last-child::after {
  content: none;
}

.mx-datepicker {
  width: 100% !important;
}

/*
* ------------------------------------------------------
* Single package
* ------------------------------------------------------
*/

ul.package-info-list {
  padding: 10px;
  list-style: none;
  background: #fff;
  border-radius: 8px;
  border: 2px solid #e1e1e1;
}

ul.package-info-list li {
  padding: 5px;
  border-bottom: 1px solid #efefef;
  display: flex;
  align-items: center;
}

ul.package-info-list li:last-child {
  border: none;
}

ul.package-info-list li .icon {
  font-size: 18px;
  color: #777;
  margin-right: 8px;
}

ul.package-info-list li .item-name {
  font-weight: bold;
  margin-right: 10px;
}

ul.package-info-list li .show-features-trigger {
  margin-bottom: 0;
}

.inline-price .old-price {
  margin-left: 5px;
  color: #888;
  text-decoration: line-through;
}

/*
* ------------------------------------------------------
* Home carousel styles
* ------------------------------------------------------
*/

#home-packages .owl-carousel .owl-stage {
  padding-bottom: 10px;
}

@media screen and (max-width: 568px) {
  #home-packages .owl-carousel .owl-stage {
    padding-bottom: 15px;
  }
}


