.primary {
    color: #a21d23;
}

.logo-box {
    .styled {
        font-family: 'Dancing Script', cursive;
        font-size: 22px;
        color: #222;
    }

    .logo-light {
        .styled {
            color: #fff;
        }
    }
}

.user-box svg {
    width: 100px;
}

.nav .nav-link{
    &:hover {
        border-color: transparent;
    }

    &.active {
        border: 0;
        background: #71b6f9;
        color: #fff;
        border-radius: 0;
    }
}

.gal-detail.thumb img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gal-detail.thumb {
    height: 150px;
    overflow: hidden;
    position: relative;
    border: 3px solid #e1e1e1;

    &.selected {
        
        border-color: #71b6f9;
        
    }
}

.media-file-picker {
    .modal-body {
        max-height: 500px;
        overflow-y: scroll;
    }

    .gal-detail.thumb:hover {
        cursor: pointer;
    }
}

.action-btn {
    font-size: 22px;
    color: #999;
    transition: all .3s;
    margin: 0 4px;

    &:hover {
        color: #444 !important;
        cursor: pointer;
    }

    &.mdi-delete-outline:hover {
        color: red !important;
    }
}

/**
* Select2 Custom style
*/
.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + .9rem + 2px) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: calc(1.5em + .9rem + 2px) !important;
}

/**
* Sweet alert custom
*/
.swal2-popup {
    flex-direction: column;
}

/**
* Category list items
*/
.category-item {
    & .content {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 12px;

        & .meta {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}


/*
* Badge custom
*
*/
.badge {
    &.badge-xl {
        padding: 7.5px 12px; 
    }
}

@media screen and (min-width: 992px) {
    div#order-meta .card {
        max-height: 251px;
        overflow-y: scroll;
    }
}

// Order summay
.order-summary-wrapper {
    display: flex;
    align-items: flex-end;
    flex-direction: column;

    .order-summary {
        width: 300px;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                font-size: 16px;
            }
        }

        .total {
            padding-top: 1rem;
            border-top: 1px solid #e1e1e1;
            font-size: 20px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
            color: #a21d23;
        }
    }
}

.gallery-item {
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;

    &:hover {
        cursor: pointer;

        .gallery-item-thumbnail {
            .overlay {
                top: 0;
                opacity: 1;
            }
        } 
    }

    .gallery-item-thumbnail {
        position: relative;
        overflow: hidden;
        height: 300px;

        .overlay {
            position: absolute;
            color: #fff;
            background: rgba(0,0,0, .65);
            left: 0;
            top: -350px;
            width: 100%;
            height: 100%;
            transition: all .3s;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            flex-direction: column;
        }

        img {
            transition: all .3s;
        }
    }

    .gallery-item-title {
        padding: 15px;
        text-align: center;
    }
}

/**
* -------------------------------------------------------------------
* Slides
* -------------------------------------------------------------------
*/
.slide {
    background-color: #fff;
    margin-bottom: 15px;
    cursor: grab;

    .slide-image {
        display: flex;

        img {
            max-width: 100%;
            object-fit: cover;
        }
    }

    .slide-meta {
        padding: 10px;
    }
}