.btn {
    border: none;
    outline: none;
    background: none;
    padding: 8px 16px;
    border-radius: 5px;

    &.btn-default{
        background-color: $color-white-dark;
        color: #444;

        &:hover {
            background-color: $color-white-lite;
        }
    }

    &.btn-danger {
        background-color: lighten($color: $color-red, $amount: 6);
        color: #fff;

        &:hover {
            background-color: $color-red;
        }
    }

    &:active, &:focus, &:visited {
        outline: none;
    }
}