header ul.top_tools > li .dropdown-access.authenticated {

    .dropdown-menu {
        padding-top: 0;
    
        ul {
            margin-top: 0;
        }
    }

    &::after {
        content: "";
        width: 15px;
        height: 15px;
        background: green;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        border-radius: 50%;

        @media screen and (max-width: 767px) {
            bottom: -4px;
        }
    }
}